<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edukasi</title>
    <link rel="icon" href="assets/svg/logo-ecowise.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <eco-header></eco-header>
    <div class="container-shape">
        <div class="unique-shape">
            <div class="unique-shape-text">
                <h1>Edukasi</h1>
                <p>Temukan berbagai materi edukatif tentang pengelolaan sampah di sini!</p>
            </div>
            <div class="unique-shape-image">
                <img src="../public/assets/svg/Education.svg" alt="launching">
            </div>
        </div>
    </div>
    <div class="education-container">
        <h2>Tantangan Baru Untukmu</h2>
        <div class="education-container-2">
            <!-- Artikel akan dimuat di sini oleh JavaScript -->
        </div>
    </div>
    <eco-footer></eco-footer>
    <!-- FIREBASE WAJIB -->
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    
    <!-- FIREBASE PILIHAN -->
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>

    <script src="../scripts/firebase-config.js"></script>
    <script src="../scripts/function-nav.js"></script>
    <script src="../scripts/components/header.js"></script>
    <script src="../scripts/components/footer.js"></script>
    <script src="../scripts/edukasi.js"></script>
</body>
</html>
