<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage EcoWise</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <body>
        <script type="module" src="../scripts/components/header.js"></script>
        <eco-header></eco-header>
            <div id="profile">
                <div class="welcome-user">
                    <div class="container-homepage-img">
                        <img src="../public/assets/svg/environment-3.svg" alt="environtment-3">
                    </div>
                    <div class="welcome-text">
                    <p>Selamat Datang</p>
                    <h1 id="username">Loading...</h1>
                </div>
                </div>
                <div class="welcome-user">
                <div class="text-point">
                <p id="points"><i class="fa-solid fa-star"> </i><span id="userPoints">Loading...</span> Points</p>
                </div>
                <div class="container-homepage-img">
                    <img src="../public/assets/svg/environment-4.svg" alt="environtment-4">
                </div>
                </div>
            </div>
            <div class="lets-change-point">
            <div class="lets-chage-point-text">
                <h2>Tukar poinmu dengan hadiah sekarang</h2>
                <p>Tukarkan dengan berbagai pilihan yang berguna</p>
            </div>
            <div class="lets-chage-point-button">
                <a href="index.html" class="icon-back">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </a>
            </div>
            </div>
            <div class="lets-do-challenge">
                <h2>Ayo Lakukan Tantangan</h2>
                <div class="kind-challenge">
                    <div class="kind-challenge-2" id="daily-challenge" onclick="navigateToChallenge('daily')">
                        <img src="../public/assets/svg/daily-challenge.svg" alt="daily-challenge">
                        <h3>Harian</h3>
                    </div>
                    <div class="kind-challenge-2" id="weekly-challenge" onclick="navigateToChallenge('weekly')">
                        <img src="../public/assets/svg/weekly-challenge.svg" alt="weekly-challenge">
                        <h3>Mingguan</h3>
                    </div>
                    <div class="kind-challenge-2" id="basic-challenge" onclick="navigateToChallenge('base')">
                        <img src="../public/assets/svg/dasar-challenge.svg" alt="dasar-challenge">
                        <h3>Dasar</h3>
                    </div>
                </div>
            </div>
            
            <div class="challenge-homepage">
                <div class="challenge-recommendation">
                    <h2>Rekomendasi Tantangan</h2>
                    <div class="lets-chage-point-button">
                        <a href="kategoritantangan.html" class="icon-others-challenge">
                            <p>Lainnya</p>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="challenge-recommendation-container-homepage">
                    <div id="challenge-recommendations">
                        <!-- Rekomendasi tantangan akan ditambahkan di sini -->
                    </div>
                </div>
            </div>
            <div id="recommended-challenge-list-container"></div>
            <eco-footer></eco-footer>
            <script type="module" src="../scripts/components/footer.js"></script>
</body>
</html>
